<section class="login py-5 bg-light">
    <div class="container">
        <div class="row g-0">
            <!-- <div class="col-lg-5">
                <img src="../../../assets/image/plat-petit.jpg" alt="" class="img-fluid">
            </div> -->
            <div class="col-lg-12 text-center py-5">
                <h1 class=" animate__animated animate__heartBeat">Inscription</h1>
                <form class="pl-5" (ngSubmit)="inscriptionUser()" [formGroup]="inscriptionForm">
                    <div class="form-row py-3 pt-5">
                        <div class="offset-1 col-lg-10">
                            <select name="sex" [formControl]="sex" class="inp px-2">
                                <option [value]="0">Monsieur</option>
                                <option [value]="1">Madame</option>
                                <option [value]="2">Autre</option>
                            </select>
                            <p *ngIf="sex.dirty && sex.hasError('required')" >sexe requis</p>   
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="name" placeholder="Nom">
                            <p *ngIf="name.dirty && (name.hasError('required') || name.hasError('pattern'))">
                                Nom incorrect (le nom contient uniquement des caractères et chiffres)
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="firstname" placeholder="Prénom">
                            <p *ngIf="firstname.dirty && (firstname.hasError('required') || firstname.hasError('pattern'))">
                                Prénom incorrect (le nom contient uniquement des caractères et chiffres)
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="tel" class="inp px-3" [formControl]="phone" placeholder="Tel">
                            <p *ngIf="phone.dirty && (phone.hasError('required') || phone.hasError('pattern') || phone.hasError('minlength')) ">
                                Téléphone incorrect (10 caractères numériques nécessaires)
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="email" placeholder="Email">
                            <p *ngIf="email.dirty && (email.hasError('required') || email.hasError('email'))">
                                Format de l'émail incorrect
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="postalCode" placeholder="code postal">
                            <p *ngIf="postalCode.dirty && (postalCode.hasError('required') || postalCode.hasError('minlength') || postalCode.hasError('pattern')) ">
                                Code Postal incorrect (5 Chiffres nécessaires)
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="town" placeholder="Ville">
                            <p *ngIf="town.dirty && town.hasError('required')">
                                Ville requise
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" [formControl]="address" placeholder="Adresse">
                            <p *ngIf="address.dirty && address.hasError('required')">
                                Adresse requise
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="password" class="inp px-3" placeholder="Mot de passe" [formControl]="password">
                            <p *ngIf=" password.dirty && (password.hasError('minlength') || password.hasError('required'))">
                                Mot de Passe incorrect (8 caractères minimum)
                            </p>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <button class="btn1"
                            [disabled]="
                            email.hasError('required') || email.hasError('email') || firstname.hasError('required') ||
                            firstname.hasError('pattern') || name.hasError('required') || name.hasError('pattern') ||
                            phone.hasError('required') || phone.hasError('pattern') || phone.hasError('minlength') ||
                            postalCode.hasError('required') || postalCode.hasError('minlength') || postalCode.hasError('pattern') ||
                            town.hasError('required') || address.hasError('required') || password.hasError('minlength') ||
                            password.hasError('required') || sex.hasError('required')"
                            >Inscription</button>
                        </div>
                    </div>
                </form>
                <p class="pr-0">Vous avez déjà un compte? <a routerLink="/connexion">connectez-vous ici</a></p>
            </div>
        </div>
    </div>
</section>


<!-- <div id="body">
    <h1>Créer un Compte</h1>

    <div id="createForm">
        <p>Tout les champs sont obligatoires</p>
        Formualire de création de Compte
        <form (ngSubmit)="createUser()" [formGroup]="createUserForm">

            Inputs du formulaire & Bouton Valider et gestion des erreurs de validators
            <input type="text" placeholder="Nom" [formControl]="name" />
            <input type="text" placeholder="Prénom" [formControl]="firstname" /><br/>
            <p *ngIf="name.dirty && (name.hasError('required') || name.hasError('pattern'))">
                Nom incorrect (le nom contient uniquement des caractères et chiffres)
            </p>
            <p *ngIf="firstname.dirty && (firstname.hasError('required') || firstname.hasError('pattern'))">
                Prénom incorrect (le nom contient uniquement des caractères et chiffres)
            </p>

            <input type="tel" maxlength="10" placeholder="Téléphone" [formControl]="phone" />
            <input type="text" placeholder="Email" [formControl]="email" />
            <p *ngIf="phone.dirty && (phone.hasError('required') || phone.hasError('pattern') || phone.hasError('minlength')) ">
                Téléphone incorrect (10 caractères numériques nécessaires)
            </p>
            <p *ngIf="email.dirty && (email.hasError('required') || email.hasError('email'))">
                Format de l'émail incorrect
            </p>


            <input type="text" maxlength="5" placeholder="Code Postal" [formControl]="postalCode" />
            <input type="text" placeholder="Ville" [formControl]="town" />
            <p *ngIf="postalCode.dirty && (postalCode.hasError('required') || postalCode.hasError('minlength') || postalCode.hasError('pattern')) ">
                Code Postal incorrect (5 Chiffres nécessaires)
            </p>
            <p *ngIf="town.dirty && town.hasError('required')">
                Ville requise
            </p>

            <input type="text" placeholder="Adresse" [formControl]="adress" />
            <p *ngIf="adress.dirty && adress.hasError('required')">
                Adresse Postale requise
            </p>
            <select name="sex" [formControl]="sex" class="gender">
                <option value="">Sex</option>
                <option [value]="0">Masculin</option>
                <option [value]="1">Féminin</option>
                <option [value]="2">Non Binaire</option>
            </select>
            <br/><p *ngIf="sex.dirty && sex.hasError('required')" >Genre requis</p>

            <input type="password" placeholder="Mot de passe" [formControl]="password" />
            <input type="password" placeholder="Verification Mot de Passe" [formControl]="passwordVerif" /><br />
            <p *ngIf=" password.dirty && (password.hasError('minlength') || password.hasError('required'))">
                Mot de Passe incorrect (8 caractères minimum)
            </p>
            <p *ngIf="passwordVerif.dirty && (passwordVerif.hasError('required') || password.hasError('minlength') || passwordVerif.value != password.value) ">
                Mot de Passe incorrect (Les deux mots de passes ne sont pas identiques)
            </p>

            <label for="photoUser" class="ph-user">
                Uploader une image:
            </label> <br>
            <input
                type="file"
                id="photoUser"
                name="photoUser"
                [formControl]="image"
                accept="image/*"
                (change)="changeImage($any($event).target.files[0])"
            />
            <div id="containAvatar" *ngIf="image64">
                <img class="img-avatar" src={{image64}}/>
            </div><br>

            <button
                [disabled]="
                email.hasError('required') || email.hasError('email') || firstname.hasError('required') ||
                firstname.hasError('pattern') || name.hasError('required') || name.hasError('pattern') ||
                phone.hasError('required') || phone.hasError('pattern') || phone.hasError('minlength') ||
                postalCode.hasError('required') || postalCode.hasError('minlength') || postalCode.hasError('pattern') ||
                town.hasError('required') || adress.hasError('required') || password.hasError('minlength') ||
                password.hasError('required') || passwordVerif.hasError('required') || passwordVerif.hasError('minlength') ||
                passwordVerif.value != password.value || sex.hasError('required') || image.hasError('required')
            ">Créer mon Compte
            </button>
        </form>
    </div>

    <div id="boutonReturn">
        Bouton de retour vers le login
        <button (click)="returnLogin()">Retour</button>
    </div>
</div> -->