<div class="navigation">
  <nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../assets/image/astonimg.png" height="60"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="navigation collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto nav">
          <li class="nav-item"><a class="nav-link fs-5 active" data-bs-toggle="pill" routerLink="/accueil">Acceuil</a></li>
          <li class="nav-item"><a class="nav-link fs-5" data-bs-toggle="pill" routerLink="/menuaccueil">Plats</a></li>
          <li class="nav-item"><a class="nav-link fs-5" data-bs-toggle="pill" routerLink="/utilisateur">Utilisateur</a></li>
          <li class="nav-item"><a class="nav-link fs-5" data-bs-toggle="pill" routerLink="/connexion">Connexion</a></li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="#" data-bs-toggle="pill">
              <i class="bi bi-cart3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
