<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
                
<body>

    <section class="login py-auto bg-light">
        <div class="container">
            <div class=" py-5">
                <h1 class="text-center animate__animated animate__heartBeat animate__infinite">Liste des Menus</h1>
            </div>
            <div class="information">
                <p class="text-center">les menus sont mis a jour tout les vendredi soir par la cantiniére si il y a un probléme veuillez contacter le 06.90.89.--.--</p>
                
                

            </div>
        </div>
    </section>
    
    <script src="../../../assets/js/menu.js"></script>
</body>
</html>

