<div class="acceuil pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 py-5">
                <h1 class="text-capitalize py-3 redressed">Bienvenue sur le site de la restauration <br>
                Aston Ecole informatique</h1>
                <p>
                    <button class="btn btn-outline-info me-5 btn-lg rounded-0 merriweather">Menu du jour</button>
                    <button class="btn btn-order btn-lg  rounded-0 merriweather">Menus de la semaine</button>
                </p>
            </div>
        </div>
    </div>
</div>
