<div class="acceuil pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h1>Bienvenu sur le site de la restauration <br>
                Aston Ecole informatique</h1>
                <p>
                    <button class="btn btn-order rounded-0 merriweather">Menus de la semaine</button>
                    <button class="btn btn-order rounded-0 merriweather">Menus du jour</button>
                </p>
            </div>
        </div>
    </div>
</div>
