<section class="login py-5 bg-light">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="../../../assets/image/plat-petit.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7 text-center py-5">
                <h1 class=" animate__animated animate__heartBeat">Connexion</h1>
                <form action="#" [formGroup]="connexionForm" class="pl-5">
                    <div class="form-row py-3 pt-5">
                        <div class="offset-1 col-lg-10">
                            <input type="text" class="inp px-3" formControlName="email" placeholder="Email">
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="offset-1 col-lg-10">
                            <input type="password" class="inp px-3" formControlName="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <p class="pr-0"><a routerLink="#">Mot de passe oublié ?</a></p>
                        <div class="offset-1 col-lg-10">
                            <button routerLink="/menuaccueil"
                             [class.disabled]="connexionForm.get('email')?.invalid || connexionForm.get('password')?.invalid"
                             [disabled]="connexionForm.get('email')?.invalid || connexionForm.get('password')?.invalid " class="btn1">Connexion</button>
                        </div>
                    </div>
                </form>
                <p class="pr-0">Vous n'avez pas un compte? <a routerLink="/inscription">inscrivez-vous ici</a></p>
            </div>
        </div>
    </div>
   
</section>